* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #aaaaaa;
}
.material-icons {color: white;}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h2 {
    text-align: center;
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 150px;
    height: 30px;
    border-top: black solid 2px;
    border-left: black solid 2px;
    border-right: black solid 2px;
}

div.player_selections {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px 5px 5px;
}

div.player_buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 5px 10px 5px;
}
div#control_container {
    border: 2px solid black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom:0;
    background-color: white;
}

li {
    border: grey solid 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    flex: 2 0 auto;
}

.selection {
    border: solid black 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: black;
}

#rhook {
    background-color: #3d6cb0;
}
#lhook {
    background-color: #d7803d;
}
#jab {
    background-color: #81b970;
}
#uppercut {
    background-color: #aa3524;
}
#cross {
    background-color: #6a3a86;
}

.deactive {

}

.active {
    
}